#time 
{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border: 5px solid black;
  color: black;
}

#title{
  color: red;
  font-weight: bold;
  text-align: center;
}
canvas{
  margin-left: 17%;
  border: 6px inset black;
}
